{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %} Data schemas {% endblock %}
{% block h %} Data schemas {% endblock %}
{% block context %}
<p><a class="btn btn-secondary btn-lg btn-block" href="{% url 'schema_create'%}" role="button">New schema</a></p>
{% endblock %}
{% block content %}
{% if schemas %}
<table class="table table-striped table-sm">
   <thead>
      <tr>
         <th>Title</th>
         <th>Modified</th>
         <th>Actions</th>
      </tr>
   </thead>
   <tbody>
      {% for schema in schemas %}
      <tr>
         <td><a href="{% url 'data_sets' schema.id %}">{{ schema.name }}</a> </td>
         <td> {{ schema.updated_at|date:"Y-m-d" }} </td>
         <td>  
            <a href="{% url 'data_sets' schema.id %}">Edit scheme</a>
            <a href="{% url 'schema_delete' schema.id %}" style="color:red">Delete</a>
         </td>
      </tr>
      {% endfor %}
</table>
{% else %}
<p>You don't have any schemas. </p>
{% endif %}  
{% endblock %}